*{
    padding: 0;
    margin: 0;
}
body{
    position: relative;
    font-family: sans-serif;
}
p {
    margin-top: 10px;
}
/*modal settings*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4)
    }
.modal {
    width: 365px;
    margin: 4% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}
.modal-container {
    height: 17rem;
    margin: revert;
    color: gray;
}
.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.grid-container {
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: stretch;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .hidden {
    display: none;
  }
.last{
    grid-column: 1;
}
.card{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-self: center;
    border: .5px lightgrey solid;
    border-radius: 3%;
    margin: 10px;
    height: 100px;
    width: 400px;
    max-height: 100px;
    max-width: 400px;
}
.name{
    font-size: .95rem;
    margin-bottom: 3px;
    font-weight: bold;
    color: rgb(56, 54, 54);
}
.email{
    font-size: .75rem;
    margin-bottom: 3px;
    margin-top: 10px;
}
.address{
    font-size: .75rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.avatar{
    grid-column: 1;
    border-radius: 50%;
    width:100px;
    height: 100px;
    align-self: center;
    justify-self: center;
}
.text-container{
    grid-column: 2;
    align-self: center;
    margin-top: 10px
}
header{
    font-size: .5rem;
    margin: 20px 10px;
}